<%- include('partials/header.ejs'); %>

<div class="topicContainer">
  <% if (back) { %>  
    <a href="<%= back %>">
        <button type="submit" id="previousTopicButton">
        <i class="fas fa-arrow-circle-left"></i>
        </button>
    </a>
  <% } %>

  <div class="topic">
    <h3><%= topic.topic %></h3>
  </div>

  <a href="<%= next %>">
    <button type="submit" id="nextTopicButton">
      <i class="fas fa-arrow-circle-right"></i>
    </button>
  </a>
</div>

<%- include('partials/footer.ejs'); %>
