<%- include('partials/header.ejs'); %>

<div class="topicContainer">
   <div class="topicContent">
        <% if (back) { %>
            <div class="navButton">
                <a href="<%= back %>">
                    <i class="fas fa-arrow-circle-left"></i>
                </a>
            </div>
            <% } %>
        
            <div class="topic">
                <h3><%= topic.topic %></h3>
            </div>
            <div class="navButton">
                <a href="<%= next %>">
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
   </div>
</div>

    <%- include('partials/footer.ejs'); %>